body {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}

#footer {
    margin-top: 10em;
    margin-bottom: 2em;
}

#jenna-photo {
    width:150px;
    height:150px;
    object-fit:cover;
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#home {
    background-image: url('media/jen.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tech {
    text-decoration: underline
}

.center {
    text-align: center;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}