@media (min-width: 1200px) {
    #home {
        background-image: url('media/jen.jpg');
        height: 500px;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

/*Hide in Other Small Devices */


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
      #home {
        background-image: none;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    #home {
        background-image: none;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    #home{
        background-image: none;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

        #home {
        background-image: none;
    }

}

body {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}

#footer {
    margin-top: 10em;
    margin-bottom: 2em;
}

#jenna-photo {
    width:150px;
    height:150px;
    object-fit:cover;
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tech {
    text-decoration: underline
}

.center {
    text-align: center;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.skills-row {
    margin: auto;
}